/* @import url("../../components/post/styles.scss"); */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.wrapper-row{
    background-color: red;
}

.wrapper-post {
    background: green;
    width: 45%;
    min-height: 200px;
}

.wrapper-column { background-color: blue;}

form
{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    justify-content: space-evenly;
}

